{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BestShop</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" >
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>