{% extends "shop_app/_base.html" %}
{% block content %}
    <h1>Welcome to the BestShop!</h1>



 <form name="product" action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    <h2>Product</h2>
    {{ product_form.as_p }}
    <input type="submit" value="Submit" />
    <hr />

</form>

<form name="product-option-add" action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    <h2>Add product option</h2>
    {{ product_options.as_p }}
    <input type="submit" value="Add" />
     <hr />
</form>
    <a href="{% url 'attributes' %}">To attributes adding</a>
{% endblock %}


