{% extends "shop_app_2/_base.html" %}
{% load static %}

{% block title %}BestShop | Cart Page{% endblock %}

   {% block content %}
   <script src="{% static 'shop_app_2/js/ajaxMagic.js' %}" type="text/javascript"></script>
   <!-- wpf loader Two -->
    <div id="wpf-loader-two">          
      <div class="wpf-loader-two-inner">
        <span>Loading</span>
      </div>
    </div> 
    <!-- / wpf loader Two -->       
 <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
   <img src="{% static 'shop_app_2/img/fashion/fashion-header-bg-8.jpg' %}"  alt="fashion img">
   <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Cart Page</h2>
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Cart</li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->

 <!-- Cart view section -->
 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table">
             <form action="">
               <div class="table-responsive">
                  <table class="table">

                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                      {% for image in images %}
                      {% if item.object_id == image.product_id %}

                      <tr id="cart-item">
{#                        <td><a class="remove" href="{% url 'remove_from_cart' item.object_id %}"><fa class="fa fa-close"></fa></a></td>                          #}
                        <td><a class="remove" id="item-del" href="javascript:" onclick='ajaxDel("{% url 'remove_from_cart' item.object_id %}")'><fa class="fa fa-close"></fa></a></td>
                        <td><a href="{% url 'product_detail_id' item.object_id %}"><img src="{{ image.medium.url }}" alt="{{ image.alt }}"></a></td>
                        <td><a class="aa-cart-title" href="{% url 'product_detail_id' item.object_id %}">{{ item.product }}</a></td>
                        <td>${{ item.unit_price }}</td>
                        <td><input class="aa-cart-quantity" type="number" value="{{ item.quantity }}"></td>
                        <td>${{ item.total_price }}</td>
                      </tr>

                      {% endif %}
                      {% endfor %}
                    {% endfor %}

                        <td colspan="6" class="aa-cart-view-bottom">
                          <div class="aa-cart-coupon">
                            <input class="aa-coupon-code" type="text" placeholder="Coupon">
                            <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                          </div>
                          <input class="aa-cart-view-btn" type="submit" value="Update Cart">
                        </td>
                      </tr>
                      </tbody>
                  </table>
                </div>
             </form>
             <!-- Cart Total view -->
             <div class="cart-view-total">
               <h4>Cart Totals</h4>
               <table class="aa-totals-table">
                 <tbody>
                   <tr>
                     <th>Subtotal</th>
                     <td>$1000</td>
                   </tr>
                   <tr>
                     <th>Total</th>
                     <td>$450</td>
                   </tr>
                 </tbody>
               </table>
               <a href="{% url 'checkout' %}" class="aa-cart-view-btn">Proced to Checkout</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->
 {% endblock %}