{% extends "shop_app_2/_base.html" %}
{% load static %}
{% block title %}Daily Shop | Account Page{% endblock %}

   {% block content %}
   <!-- wpf loader Two -->
    <div id="wpf-loader-two">          
      <div class="wpf-loader-two-inner">
        <span>Loading</span>
      </div>
    </div> 
    <!-- / wpf loader Two -->       
 <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

 <!-- Cart view section -->
 <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
              <div class="col-md-6">

                <div class="aa-myaccount-login">

                <h4>Login</h4>
                 <form method="post" action="{% url 'shop_auth_app:login' %}" class="aa-login-form">
                     {% csrf_token %}
                  <label for="">Email address<span>*</span></label>
{#                   <input type="text" placeholder="Email">#}
                     {{ form.username }}
                   <label for="">Password<span>*</span></label>
{#                    <input type="password" placeholder="Password">#}
                     {{ form.password }}
                    <button type="submit" class="aa-browse-btn">Login</button>
                    <label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
                    <p class="aa-lost-password">
                        <a href="#">Lost your password?</a> |
                        <a href="{% url 'registration_register' %}">Register now!</a>
                    </p>
                 </form>
                </div>
              </div>
            </div>          
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->
{% endblock %}